/* Responsive site on all devices */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body {
    background-color: black;
}

header {
    background-image: url(images/home-bg.jpg);
    background-position: center center;
    height: 600px;
}

.black-hat {
    background-color: black;
    height: 90px;
}

.nav {
    display: flex;
    width: 80%;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    background-color: #202020;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 10%;
    top: 4%;
    border-left: 6px solid #d64ab7;
    z-index: 3;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 50%;
    overflow: hidden;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    padding: 20px 23.33px;
    transition: 0.75s ease;
}

.nav-link:hover {    
    background-color: #333333;
}

.burger {
    display: none;
    cursor: pointer;
}

.line-of-burger {
    width: 25px;
    height: 3px;
    background-color: #d3dddd;
    margin: 5px;
    transition: all 0.75s ease;
}

.header-title {
    position: absolute;
    top: 25%;
    left: 45%;
    color: white;
    font-size: 40px;
}

.main {
    display: flex;
    background-color: black;
    justify-content: center;
}

.three-blocks {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: flex;
    justify-self: center;
    margin-right: 3%;
    position: relative;
    top: -35px;
}

.third-block {
    margin-right: 0;
}

.block div {
    padding: 20px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-block {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 35%;
}

.fa-laptop {
    position: absolute;
    top: 39%;
    left: 25%;
}

.fa-mobile {
    position: absolute;
    top: 40%;
    left: 33%;
}

.fa-life-ring {
    position: absolute;
    top: 39%;
    left: 28%;
}

.text-block {
    display: flex;
    text-align: center;
    margin-top: 30%;
}

.title-of-text-block {
    padding-top: 20px;
    position: relative;
    left: 13px;
}

.text-of-text-block {
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 10px;
}

.first-block {
    background-color: #c14000;
}

.second-block {
    background-color: #009987;
}

.third-block {
    background-color: #fea501;
}

.full-block {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 80%;
    background-color: #191919;
}

.img-about-block {
    display: flex;
    justify-content: flex-end;
    justify-self: center;
    width: 50%;
}

.img-about-block img {
    width: 100%;
}

.content-about-block {
    width: 50%;
    padding-left: 30px;
    height: 100%;
    padding-top: 5%;
}

.title-of-about-block {
    font-size: 32px;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
}

.text-of-about-block {
    font-size: 14px;
    color: #75787d;
    padding-bottom: 15px;
}
.btn {
    background-color: transparent;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    font-size: 16px;
}

.btn-animation {
    transition: 0.9s ease;
}

.btn-animation:hover {
    background-color: white;
    color: black;
}

.gallery {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.title-of-gallery {
    font-size: 32px;
    margin-bottom: 30px;
}

.text-of-gallery {
    font-size: 16px;
    width: 80%;
    color: #75787d;
    margin-bottom: 30px;
}

.images {
    margin-bottom: 30px;
}

.top-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-gallery img {
    width: 33.33%;
}

.bottom-gallery {
    display: flex;
}

.bottom-gallery img {
    width: 25%;
}

.footer {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 85px;
    margin-bottom: 35px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-description {
    position: relative;
    top: -16px;
}

.logo-description-footer {
    width: 120px;
}

.text-description-footer {
    width: 500px;
    color: #75787d;
    margin-bottom: 20px;
}

.contact-info {
    color: #75787d;
    margin-bottom: 15px;
}

.contact-info-icon {
    color: #75787d;
    margin-right: 10px;
}

.footer-links {
    width: 30%;
}

.title-footer-links {
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.link-footer-links {
    color: #75787d;
    text-decoration: none;
    margin-bottom: 8px;
}

.title-footer-mailing {
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.text-footer-mailing {
    color: #75787d;
    margin-bottom: 15px;
}

.input-footer-mailing {
    background-color: transparent;
    border: 2px solid white;
    width: 300px;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn-footer-mailing {
    background-color: transparent;
    border: 2px solid white;
    width: 80px;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 25px;
    padding-bottom: 7px;
}

.copyright {
    display: flex;
    flex-grow: 1;
    justify-self: center;
    align-items: flex-end;
}

.copyright-text {
    color: #75787d;
    font-size: 14px;
}

.social-media {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.social-link {
    text-decoration: none;
    margin-right: 10px;
}

.social-icon {
    transition: 0.5s ease;
}

.social-link:hover .social-icon {
    transform:  translateY(-10px);
}


@media screen and (max-width:1254px) {
    .nav-list {
        width: 80%;
    }
    .text-description-footer {
        width: 300px;
    }
    .footer-links {
        width: 200px;
    }
}

@media screen and (max-width: 1150px) {
    .three-blocks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block {
        display: flex;
        width: 500px;
        justify-self: center;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .icon-block {
        left: 41%;
        top: 10%;
    }
    /* In process */
    .about {
        flex-direction: column;
        width: 50%;
    }
    
    .img-about-block {
        
        width: 100%;
    }
    
    .img-about-block img {
        width: 100%;
    }
    
    .content-about-block {
        width: 100%;
        text-align: center;
        padding-right: 30px;
    }

    .btn-of-about-block {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 870px) {
    /* IN PROCESS */
    
    .img-about-block {
        width: 100%;
    }
    
    .content-about-block {
        width: 100%;
    }

    .footer-section {
        flex-direction: column;
        width: 80%;
    }
    
    .footer-column {
        justify-content: center;
    }

    .text-description-footer {
        width: 100%;
    }

    .about {
        width: 80%;
    }

    .top-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .top-gallery img {
        width: 50%;
    }
    
    .top-gallery .img3 {
        width: 100%;
    }

    .bottom-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .bottom-gallery img {
        width: 50%;
    }
}

@media screen and (max-width: 790px) {
    body {
        overflow-x: hidden;
    }
    .nav-logo {
        position: relative;
        left: -75px;
    }
    .nav-list {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #202020;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }
    .nav-item {
        opacity: 0;
    }
    .burger {
        display: block;
        float: right;
        position: relative;
        left: 50px;
    }

    .nav-active {
        transform: translateY(0%);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 671px) {
    .header-title {
        text-align: center;
        left: 15%;
    }
    
    .three-blocks {
        width: 80%;
    }
    
    .block {
        width: 100%;
    }

    .copyright-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 560px) {
    .header-title {
        text-align: left;
        left: 10%;
    }

    .three-blocks {
        width: 100%;
    }
    
    .icon-block {
        left: 42%;
        top: 10%;
    }

    .nav-logo {
        position: static;
    }
    .burger {
        position: static;
    }
    .about {
        width: 100%;
    }

    .gallery {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .bottom {
        flex-direction: column;
        width: 100%;
    }
    
    .copyright {
        justify-content: center;
    }
    
    .social-media {
        justify-content: center;
    }
    
    .social-link {
        margin-right: 20px;
    }
    .social-link-last {
        margin-right: 0;
    }
}

@media screen and (max-width: 400px) {
    .icon-block {
        left: 38%;
    }
}

@media screen and (max-width: 360px) {
    .icon-block {
        left: 36%;
        top: 7%;
    }
}
